In [1]:
# Eclat

# Step 1: import libraries
import numpy as np
import pandas as pd

In [3]:
# Step 2: Importing dataset
dataset = pd.read_csv('Market_Basket_Optimisation.csv',names=np.arange(1,21))
dataset

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Step 2(a): Preprocesing data to fit model
"""
transactions = []
for sublist in dataset.values.tolist():    
    print(sublist)    #  ['mineral water', nan, nan,......, nan]
    clean_sublist = [item for item in sublist if item is not np.nan]  # ['mineral water']
    transactions.append(clean_sublist) # remove 'nan' values # https://github.com/rasbt/mlxtend/issues/433
"""
transactions = [
            [product for product in products if product is not np.nan] 
            for products in dataset.values.tolist()]
[print(i) for i in transactions[:2]]

['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil']
['burgers', 'meatballs', 'eggs']

[None, None]

In [15]:
# One hot
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()                               # transaction input X dataset 
te_arry = te.fit(transactions).transform(transactions)  # format dataset suitable for ML APIs via fit() method.
                                                        #   Learns the unique labels in the dataset (True\Fales),
                                                        #   and via the transform() method
  
df_x = pd.DataFrame(te_arry,             # row=containing set of bool for specific product 
                    columns=te.columns_) # col=all products are arranged in alphabatical order
df_x

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [18]:
# Step 4: Train model using Apiori algorithm 
# ref = https://rasbt.github.io/mlxtend/api_subpackages/mlxtend.frequent_patterns/
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df_sets = apriori(df_x,               # values are either 0/1 or True/False.
                  min_support=0.005,  # a set of transactions containing(I)/transactions
                  use_colnames=True)  # Allowed col
df_sets

      support                                      itemsets
0    0.020397                                     (almonds)
1    0.008932                           (antioxydant juice)
2    0.033329                                     (avocado)
3    0.008666                                       (bacon)
4    0.010799                              (barbecue sauce)
..        ...                                           ...
720  0.007466              (mineral water, spaghetti, soup)
721  0.009332          (tomatoes, mineral water, spaghetti)
722  0.006399            (mineral water, spaghetti, turkey)
723  0.006266  (whole wheat rice, mineral water, spaghetti)
724  0.005066              (pancakes, spaghetti, olive oil)

[725 rows x 2 columns]

In [19]:
df_rules = association_rules(df_sets,           # values are either 0/1 or True/False.
                             metric='support',  # (bydefault cofidence) but is support formula 
                             min_threshold= 0.005, # 0.5%
                             support_only=True) # It is support for eclat rule

# if you use only "support", it called "ECLAT"
df_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(burgers),(almonds),NaN,NaN,0.005199,NaN,NaN,NaN,NaN
1,(almonds),(burgers),NaN,NaN,0.005199,NaN,NaN,NaN,NaN
2,(chocolate),(almonds),NaN,NaN,0.005999,NaN,NaN,NaN,NaN
3,(almonds),(chocolate),NaN,NaN,0.005999,NaN,NaN,NaN,NaN
4,(eggs),(almonds),NaN,NaN,0.006532,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1935,"(pancakes, olive oil)",(spaghetti),NaN,NaN,0.005066,NaN,NaN,NaN,NaN
1936,"(spaghetti, olive oil)",(pancakes),NaN,NaN,0.005066,NaN,NaN,NaN,NaN
1937,(pancakes),"(spaghetti, olive oil)",NaN,NaN,0.005066,NaN,NaN,NaN,NaN
1938,(spaghetti),"(pancakes, olive oil)",NaN,NaN,0.005066,NaN,NaN,NaN,NaN
1939,(olive oil),"(pancakes, spaghetti)",NaN,NaN,0.005066,NaN,NaN,NaN,NaN